.comment__form input:focus{
outline: none !important;
}
.comment__form input{
border: none !important;

}
.menu div{
    margin: 5px ;
    width: 50px;
}
 #single__comment {
  
 padding:1px 5px  ;
    background-color: rgba(204, 203, 203, 0.466);
    border-radius: 10px;
}
.btn{
    cursor: pointer;
}